<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Downloader</title>

    <link rel="stylesheet" href="styles.scss">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://developer.spotify.com/images/favicon.ico">git

    <script src="https://unpkg.com/vue@3"></script>
    <script type="module" src="index.js"></script>
</head>
<body>
    <div id="app">
        <div class="connect" v-if="showConnect">
            <p class="info">Veuillez vous connecter à spotify</p>
            <a @click="openConfirm" class="link">Cliquer ici pour vous connecter</a>
        </div>
        <div class="connected" v-else>
            <div class="search">
                <p class="title">Recherche</p>
                <input class="inputSearch" type="text" ref="search">
                <div class="tracks">
                    <div class="track" v-for="track in searchTracks">
                        <img class="cover" :src="(track.album.images[1]) ? track.album.images[1].url : track.album.images[0].url">
                        <p class="name">{{ track.name }} - {{ getArtist(track) }}</p>
                        <a class="download" :id="track.id" data-state="notdl" @click="(e) => download(track, e)"></a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="playlists">
                <p class="title">Vos playlists :</p>
                <div class="item" v-for="playlist in playlists">
                    <div class="playlistInfo" @click="() => develop(playlist)">
                        <img class="cover" :src="(playlist.images[1]) ? playlist.images[1].url : playlist.images[0].url" >
                        <p class="name">{{ playlist.name }}</p>
                        <a class="downloadPlaylist" v-if="playlistOpen === playlist.id" @click="() => downloadPlaylist(playlist)">
                            <img src="assets/download.svg">
                        </a>
                    </div>
                    <div class="tracks" v-if="playlistOpen === playlist.id">
                        <div class="track" v-for="{track} in trackPlaylistOpen">
                            <img class="cover" :src="(track.album.images[1]) ? track.album.images[1].url : track.album.images[0].url">
                            <p class="name">{{ track.name }} - {{ getArtist(track) }}</p>
                            <a class="download" :id="track.id" data-state="notdl" @click="(e) => download(track, e)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="github" href="https://github.com/Kairrot/spotdl">GITHUB</a>
    </div>
</body>
</html>